<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>News. Nerd.</h2>
        <!-- <hr class="star-light"> -->
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <!-- <h3></h3> -->
        <p class="link">I'm a journalist with 15 years of <a href="https://www.linkedin.com/in/matthustiles/">experience</a> writing and editing data-driven and visual stories, including at NPR, The Texas Tribune, the <em>Wall Street Journal</em> and the <em>Los Angeles Times</em> — and now as a <a href="https://www.cnn.com/profiles/matt-stiles">senior data and graphics editor</a> at CNN. Check out some <a href="https://authory.com/MattStiles">past and current stories here</a>.</p>
      </div>
      <div class="col-lg-4">
        <!-- <h3></h3> -->
        <p class="link">My work involves storytelling with data, code and visuals — typically with Python and JavaScript. In 2012, I founded The Daily Viz, a now-retired site where I created and curated charts, maps, graphs and other data stories. I also <a href="https://dodgersdata.bot/">tinker</a> with <a href="https://github.com/stiles/locations/">side</a> <a href="https://github.com/stiles/la-trees">projects</a> and teach data journalism to graduate students at USC.
        </p>
      </div>
    </div>
  </div>
</section>
