<!-- About Section -->
<section class="about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="about-content">
          <div class="about-header">
            <span class="section-label section-label-light">Background</span>
            <h2 class="about-title">News nerd</h2>
          </div>
          <div class="about-columns">
            <div class="about-col">
              <p>I'm a journalist with 15 years of <a href="https://www.linkedin.com/in/matthustiles/">experience</a> writing and editing data-driven and visual stories, including at NPR, The Texas Tribune, the <em>Wall Street Journal</em> and the <em>Los Angeles Times</em>. I'm now a <a href="https://www.cnn.com/profiles/matt-stiles">senior data and graphics editor</a> at CNN. See my <a href="https://authory.com/MattStiles">stories</a>.</p>
            </div>
            <div class="about-col">
              <p>My work involves storytelling with data, code and visuals — typically with Python and JavaScript. In 2012, I founded <a href="https://thedailyviz.com/">The Daily Viz</a>, a now-retired site where I created and curated charts, maps, graphs and other data stories. I also <a href="https://dodgersdata.bot/">tinker</a> with <a href="https://github.com/stiles/pyfr24">lots</a> of <a href="https://github.com/stiles/locations/">side</a> <a href="https://github.com/stiles/la-trees">projects</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
