<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <button type="button" class="close-modal-btn" data-dismiss="modal" aria-label="Close">
      <i class="fa fa-times"></i>
    </button>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="modal-body modal-body-redesign">
            <div class="modal-layout">
              <div class="modal-image-col">
                <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
              </div>
              <div class="modal-text-col">
                <div class="modal-meta-tags">
                  {% if post.client %}
                  <span class="meta-tag meta-tag-type">{{ post.client }}</span>
                  {% endif %}
                  {% if post.project-date %}
                  <span class="meta-tag meta-tag-date">{{ post.project-date }}</span>
                  {% endif %}
                </div>
                <h2 class="modal-title">{{ post.title }}</h2>
                {% if post.description %}
                <p class="modal-description">{{ post.description }}</p>
                {% endif %}
                {% if post.category %}
                <div class="modal-tools">
                  {% assign tools = post.category | split: ", " %}
                  {% for tool in tools %}
                  <span class="tool-tag">{{ tool }}</span>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
